/* Reset some default margin on body */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f8f8; /* Light gray background */
    color: #333; /* Dark text color */
  }
  
  /* Style the header */
  h1 {
    color: #3498db; /* Blue header text color */
    text-align: center;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
  }
  
  /* Style the contact info */
  .contact-info {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555; /* Slightly darker text color for contact information */
  }
  
  /* Style education section */
  .education {
    margin-bottom: 30px;
  }
  
  .education h2 {
    color: rgb(52, 166, 219);
  }
  
  .education p {
    margin-bottom: 8px;
  }
  
  /* Style skills section */
  .skills {
    margin-bottom: 30px;
  }
  
  .skills h2 {
    color: #3498db;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    display: inline-block;
    margin-right: 10px;
    background-color: #2ecc71; /* Green background color for skills */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Style work experience section */
  .work-experience {
    margin-bottom: 30px;
  }
  
  .job {
    margin-bottom: 20px;
    background-color: #ecf0f1; /* Light gray background for each job */
    padding: 15px;
    border-radius: 10px;
  }
  
  .job-title {
    font-weight: bold;
    color: #333;
  }
  
  .date {
    color: #777;
  }
  
  .description {
    margin-top: 5px;
    color: #555;
  }
  
  /* Style leadership section */
  .leadership {
    margin-bottom: 30px;
  }
  
  .leadership h2 {
    color: #3498db;
  }
  
  /* Style individual leadership experiences */
  .leadership p {
    margin-bottom: 15px;
  }
  
  /* Add some responsive styles for smaller screens */
  @media screen and (max-width: 600px) {
    body {
      margin: 10px;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    .contact-info {
      font-size: 14px;
    }
  
    .education p,
    .skills li,
    .job p,
    .description,
    .leadership p {
      font-size: 14px;
    }
  }
